// Color variables
$color-bg: #fff;
$color-modal-bg: #ffffff;
$color-primary: #605dec;
$color-secondary: #f9f9fb;
$color-text: #1a1a1a;
$color-border: #e4e4ef;

// Additional colors from Navbar
$color-navbar-border: #ececec;
$color-navbar-hover: #f2f2ff;
$color-navbar-btn-hover: #344293;

// Fonts
$font-main: "Inter", sans-serif;
$font-secondary: "Nunito Sans", sans-serif;

// ProductsTable specific
$color-table-secondary-text: #808080;
$color-table-muted-text: #aaa;
$color-status-green-bg: #ebf6eb;
$color-status-green-text: #31aa27;
$color-status-orange-bg: #fff4e4;
$color-status-orange-text: #e99518;
$color-status-red-bg: #fff0f0;
$color-status-red-text: #f93232;
$color-status-blue-bg: #ededfe;
